[MASTER]
extension-pkg-whitelist=pydantic
docstring-min-length=10
disable=missing-module-docstring, missing-function-docstring, missing-class-docstring, logging-fstring-interpolation
[FORMAT]
good-names=i,j,x,y,id