APP_ENV = development
AUTH_TOKEN_COOKIE_NAME = auth_token

# JWT
ACCESS_TOKEN_SECRET_KEY = 
INVITE_TOKEN_SECRET_KEY = 

# Database - PostgreSQL
DB_USER = postgres
DB_PASSWORD = postgres
DB_HOST = db
DB_PORT = 5432
DB_NAME = postgres

# GITHUB AUTH
GITHUB_CLIENT_ID =
GITHUB_CLIENT_SECRET =