Write an email for customer {{customer_name}} that a product called "{{ product }}" is no longer available. Instead, they
might be interested in a similar product called "{{ similar_product }}". The tone of voice of the
email should be {{tone_of_voice}}. The email should be signed by the CEO of the company, {{ceo_name}}.